credential.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "40ae348d-0042-4e03-a7bf-f641b6078c24",
      "name": "Telegram Trigger",
      "webhookId": "57b61acf-fed7-446a-a588-da3839ef572c",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "gpjRhF8biOhNIING",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un amable y servicial Agente de Soporte Virtual para la tienda de comercio electrónico eMercado UY. Responde a todas las preguntas con la siguiente información:  1. **Horario de Soporte:** Lunes a Viernes, 9:00 a 18:00 hs. 2. **Política de Devolución:** Tienes 30 días para devoluciones, siempre que el producto esté en su embalaje original. 3. **Costo de Envío:**    - **Montevideo y Canelones:** Envío GRATIS (0 UYU).    - **Maldonado y Rocha:** 500 UYU.    - **Rivera y Artigas:** 700 UYU.    - **Resto del País:** Pídele al usuario que consulte la sección de 'Ayuda en la Web' para tarifas variables.  Si la pregunta no está cubierta por esta información, dirígete al usuario de manera profesional."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        416,
        0
      ],
      "id": "93453c23-0c96-49b9-a2a1-73b308290619",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        192
      ],
      "id": "8d3fa171-b02c-4dc8-a976-a662f6bcc260",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "W3sFYOYZzJUTK0Ex",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "06f08624-3ecc-4430-8845-4fcf043fa14d",
      "name": "Send a text message",
      "webhookId": "bab0c061-e5ed-46ac-84ee-56ae827eba8a",
      "credentials": {
        "telegramApi": {
          "id": "gpjRhF8biOhNIING",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f90e5c89-7a7c-4ca7-bee1-6fcbadae3147",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -208
      ],
      "id": "7158f036-5eeb-4e4b-b3b8-a8a50e609053",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -192
      ],
      "id": "ed00178e-2837-4679-ae54-5572f46775f6",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "5eac2176-f21b-4940-bf7f-2e6df6372b92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f38be86fcab17de959f6ac0f1d80c19dc2e8a3ee5bf5cc341325ffd54cd33ac5"
  },
  "id": "Df2vEnot6VOV23R7",
  "tags": []
}